LaborSafety-Backend/LaborSafety/LaborSafety.Integracao/Connected Services/SAP_04_PERFIL_CATALOGO_SERVICE/SI_ORDEMPM_LaborSafety_RFC05_Out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://ternium.com.br/INT_FromERP_toAPR_PT" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_ORDEMPM_LaborSafety_RFC05_Out" targetNamespace="http://ternium.com.br/INT_FromERP_toAPR_PT" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ORDEMPM_LaborSafety_RFC05_Out" />
  <wsdl:types>
    <xsd:schema xmlns="http://ternium.com.br/INT_FromERP_toAPR_PT" targetNamespace="http://ternium.com.br/INT_FromERP_toAPR_PT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_ORDEMPM_LaborSafety_RFC05_Response" type="p1:DT_ORDEMPM_LaborSafety_RFC05_Response" />
      <xsd:element name="MT_ORDEMPM_LaborSafety_RFC05" type="p1:DT_ORDEMPM_LaborSafety_RFC05" />
      <xsd:complexType name="DT_ORDEMPM_LaborSafety_RFC05_Response">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">7d366e095edf11ea9c85000003cfb447</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Response">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7d380c8d5edf11eab50b0050569f70e6</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="Vgr" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7d380c895edf11eaaa960050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Num_Serie" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7d380c8a5edf11eac2a50050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="End_Rede" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7d380c8b5edf11eac5a00050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Status" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7d380c8c5edf11eac6260050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Descricao" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_ORDEMPM_LaborSafety_RFC05">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">cd89f357529e11ea8718000003cfb447</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Ordem_Pm">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">cd7482d4529e11eac27d0050569f70e6</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="Num_Ordem" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">cd7482ca529e11eac1cf0050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Ordem_Manut" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">cd7482cb529e11ea82830050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Loc_Instalacao" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">cd7482cc529e11eaa37e0050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Operacao" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">cd7482cd529e11eab8f50050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Operacao" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">cd7482ce529e11eaa6320050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Centro_Trab_Op" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">cd7482cf529e11ea9ba90050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Valor_Classe_Op" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">cd7482d0529e11eaa51f0050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Chave_Mod_Op" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">cd7482d1529e11eaa6e30050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Loc_Instalacao_Op" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">cd7482d2529e11ea8faa0050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Status_Ordem" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">cd7482d3529e11eab8ea0050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_ORDEMPM_LaborSafety_RFC05">
    <wsdl:documentation />
    <wsdl:part name="MT_ORDEMPM_LaborSafety_RFC05" element="p1:MT_ORDEMPM_LaborSafety_RFC05" />
  </wsdl:message>
  <wsdl:message name="MT_ORDEMPM_LaborSafety_RFC05_Response">
    <wsdl:documentation />
    <wsdl:part name="MT_ORDEMPM_LaborSafety_RFC05_Response" element="p1:MT_ORDEMPM_LaborSafety_RFC05_Response" />
  </wsdl:message>
  <wsdl:portType name="SI_ORDEMPM_LaborSafety_RFC05_Out">
    <wsdl:documentation />
    <wsdl:operation name="SI_ORDEMPM_LaborSafety_RFC05_Out">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ORDEMPM_LaborSafety_RFC05_Out" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_ORDEMPM_LaborSafety_RFC05" />
      <wsdl:output message="p1:MT_ORDEMPM_LaborSafety_RFC05_Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ORDEMPM_LaborSafety_RFC05_OutBinding" type="p1:SI_ORDEMPM_LaborSafety_RFC05_Out">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ORDEMPM_LaborSafety_RFC05_Out">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ORDEMPM_LaborSafety_RFC05_OutService">
    <wsdl:port name="SI_ORDEMPM_LaborSafety_RFC05_OutPort" binding="p1:SI_ORDEMPM_LaborSafety_RFC05_OutBinding">
      <address location="http://tkcsac2.tkcsa.com.br:50600/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_APR_PT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ORDEMPM_LaborSafety_RFC05_Out&amp;interfaceNamespace=http://ternium.com.br/INT_FromERP_toAPR_PT&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http://ternium.com.br/INT_FromERP_toAPR_PT^SI_ORDEMPM_LaborSafety_RFC05_Out&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http%3A%2F%2Fternium.com.br%2FINT_FromERP_toAPR_PT%5ESI_ORDEMPM_LaborSafety_RFC05_Out" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>