LaborSafety-Backend/LaborSafety/LaborSafety.Integracao/Connected Services/SAP_03_LOCAL_INSTALACAO_SERVICE/SI_LOCALINST_LaborSafety_RFC03_Out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://ternium.com.br/INT_FromERP_toAPR_PT" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_LOCALINST_LaborSafety_RFC03_Out" targetNamespace="http://ternium.com.br/INT_FromERP_toAPR_PT" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_LOCALINST_LaborSafety_RFC03_Out" />
  <wsdl:types>
    <xsd:schema xmlns="http://ternium.com.br/INT_FromERP_toAPR_PT" targetNamespace="http://ternium.com.br/INT_FromERP_toAPR_PT" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_LOCALINST_LaborSafety_RFC03" type="p1:DT_LOCALINST_LaborSafety_RFC03" />
      <xsd:element name="MT_LOCALINST_LaborSafety_RFC03_Response" type="p1:DT_LOCALINST_LaborSafety_RFC03_Response" />
      <xsd:complexType name="DT_LOCALINST_LaborSafety_RFC03_Response">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">611c12ba5edf11ea8c61000003cfb447</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Response">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">611ee1f35edf11eab2040050569f70e6</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="Status" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">611c7db95edf11eaba210050569f70e6</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Descricao" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_LOCALINST_LaborSafety_RFC03">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">9b2ca992529f11eaab1e000003cfb447</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Request">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="Local_Instalacao" type="xsd:string" />
                <xsd:element minOccurs="0" name="Desc_Loc_Instalacao" type="xsd:string" />
                <xsd:element minOccurs="0" name="Perfil_Loc_Instalacao" type="xsd:string" />
                <xsd:element minOccurs="0" name="Desc_Catalogo" type="xsd:string" />
                <xsd:element minOccurs="0" name="Classe_Loc_Instalacao" type="xsd:string" />
                <xsd:element minOccurs="0" name="Desc_Classe" type="xsd:string" />
                <xsd:element minOccurs="0" name="Caracteristica_Classe" type="xsd:string" />
                <xsd:element minOccurs="0" name="Desc_Caracteristica" type="xsd:string" />
                <xsd:element minOccurs="0" name="Valor_Caracteristica" type="xsd:string" />
                <xsd:element minOccurs="0" name="Status_Loc_Instalacao" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_LOCALINST_LaborSafety_RFC03">
    <wsdl:documentation />
    <wsdl:part name="MT_LOCALINST_LaborSafety_RFC03" element="p1:MT_LOCALINST_LaborSafety_RFC03" />
  </wsdl:message>
  <wsdl:message name="MT_LOCALINST_LaborSafety_RFC03_Response">
    <wsdl:documentation />
    <wsdl:part name="MT_LOCALINST_LaborSafety_RFC03_Response" element="p1:MT_LOCALINST_LaborSafety_RFC03_Response" />
  </wsdl:message>
  <wsdl:portType name="SI_LOCALINST_LaborSafety_RFC03_Out">
    <wsdl:documentation />
    <wsdl:operation name="SI_LOCALINST_LaborSafety_RFC03_Out">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_LOCALINST_LaborSafety_RFC03_Out" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_LOCALINST_LaborSafety_RFC03" />
      <wsdl:output message="p1:MT_LOCALINST_LaborSafety_RFC03_Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_LOCALINST_LaborSafety_RFC03_OutBinding" type="p1:SI_LOCALINST_LaborSafety_RFC03_Out">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_LOCALINST_LaborSafety_RFC03_Out">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_LOCALINST_LaborSafety_RFC03_OutService">
    <wsdl:port name="SI_LOCALINST_LaborSafety_RFC03_OutPort" binding="p1:SI_LOCALINST_LaborSafety_RFC03_OutBinding">
      <address location="http://tkcsac2.tkcsa.com.br:50600/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_APR_PT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_LOCALINST_LaborSafety_RFC03_Out&amp;interfaceNamespace=http://ternium.com.br/INT_FromERP_toAPR_PT&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http://ternium.com.br/INT_FromERP_toAPR_PT^SI_LOCALINST_LaborSafety_RFC03_Out&amp;version=3.0&amp;Sender.Service=BS_APR_PT&amp;Interface=http%3A%2F%2Fternium.com.br%2FINT_FromERP_toAPR_PT%5ESI_LOCALINST_LaborSafety_RFC03_Out" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>